body{
	margin:0;
	background-color:#CD5C5C;
}
#start{
	margin-top:150px;
	height:200px;
	background-opacity: 0.8;
	background-color:white;
	padding-top:60px;
}
#form{
	background-color:;
	width:400px;
	margin-left:450px;
}