body{
	margin:0;
	background-color:#CD5C5C;
}
#start{
	margin-top:150px;
	height:260px;
	background-color:white;
	opacity: 0.9;
	padding-top:48px;
}
#form{
	border: 3px solid;
	background-color: gray;
	opacity: 0.9;
	width:400px;
	margin-left:510px;
	padding:40px;
	padding-bottom: 70px;
}
#logout{
	background-color:#ed8223;
	color:#fff;
	background-color: #ed8223;
	color: #fff;
	font-family: 'Helvetica Neue',sans-serif;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border: 0;
	text-shadow: #C17C3A 0 -1px 0;
	width: 116px;
	height: 71px;
	text-decoration: none;
}