body{
	margin:0;
	background-color:#CD5C5C;
}
#start{
	margin-top:150px;
	height:260px;
	background-color:white;
	opacity: 0.9;
	padding-top:48px;
}
#form{
	border: 3px solid;
	background-color: gray;
	opacity: 0.9;
	width:400px;
	margin-left:510px;
	padding:40px;
	padding-bottom: 70px;
}