nav, #corpo{
	margin-left:200px;
	margin-right: 200px;
}
img{
	float: left;
	padding: 5px; 
}
#img-topo{
	margin-top: 5px;
}
#img-nav{
	float: left;
}
#nav{
	heigth: 250px;
	background-color: #A95A5A;
	
}
#header{
	margin-left: 200px;
	margin-right: 200px;
}

.navbar-brand{
	float: left;
	height: 50px;
	padding: 1px 0px;
	font-size: 18px;
	line-height: 42px;
}
a#btn_home, a#btn_about{
	margin-bottom: 2px solid;
	color: black;
	margin-bottom: 2px solid;
	color: black;
	margin-left: 25px;
}
div#pesquisa{
	float: right;
	margin-top: 25px;
	border-radius: 4px;
	width: 258px;
}
.btn_ipt{
	border-radius: 5px;
}

footer{		
	position:absolute;
	bottom: 0px;
	width:100%;
	color: white;
	text-align: center;
	background-color: #A95A5A;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	height: 170px;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	color:black;
}
#new_qst{
	
}

#dropdown-menu-registro {
	height: 250px;
}
#navegacao{
	margin-left: 300px;
	margin-top: 0px;
}