nav, #corpo{
	margin-left:200px;
	margin-right: 200px;
}
img{
	float: left;
	padding: 5px; 
}
#img-topo{
	margin-top: 5px;
}
#img-nav{
	float: left;
}
#nav{
	heigth: 250px;
	background-color: #A95A5A;
	
}
#header{
	margin-left: 200px;
	margin-right: 200px;
}
.navbar-brand{
	float: left;
	height: 50px;
	padding: 1px 0px;
	font-size: 18px;
	line-height: 42px;
}
a#btn_home, a#btn_about{
	margin-bottom: 2px solid;
	color: black;
}